{% extends "base_template.html" %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<div class="container">
    <h2>Usuarios</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Ultima conexion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users | sort(attribute='id') %}
            <tr>

                <td>{{ user.id}}</td>
                <td>{{ user.username}}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.last_seen}}</td>
                <td><a class="button" href="{{ url_for('edit_profiles', id=user.id ) }}">Modificar Perfil</a>
                    <a class="button" href="{{ url_for('deleteUser', username=user.username) }}">Eliminar
                        cuenta</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}